<p>
  You can set the users to either zombie or human below. Zombies will be considered original zombies,
  and humans will be considered normal humans. If you want to assign a user to something other than
  an original zombie, or normal human, visit the <%=link_to 'users', admin_users_url %> page to edit the user
  manually. Keep in mind that this only lists people who have requested to be original zombies. After you
  are done assigning zombies, visit the <%=link_to 'misc tasks', admin_misc_tasks_url %> to assign all unassigned 
  users to normal humans.
</p>
<table>
  <tr>
    <th>username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>add/remove</th>
  </tr>
  <% for game_participation in @game_participations %>
  <% user = game_participation.user %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td>
      <% if game_participation.original_zombie? %>
        <%= form_for game_participation, :url => make_regular_admin_original_zombie_url(:id => game_participation.id), :html => {:style => 'display: inline;'} do %>
          <input type='submit' value='humanize'>
        <% end %>
      <% else %>
        <%= form_for game_participation, :url => make_zombie_admin_original_zombie_url(:id => game_participation.id), :html => {:style => 'display: inline;'} do %>
          <input type='submit' value='make original'>
        <% end %>
      <%end %>
    </td>
  </tr>
  <% end %>
</table>