<%= form_for @game, :url => admin_games_url do |f| %>
<p>
  <%= f.label :game_name %>
  <%= f.text_field :game_name %>
</p>
<p>
  <%= f.label :signup_start_at %>
  <%= f.datetime_select :signup_start_at %>
</p>
<p>
  <%= f.label :signup_end_at %>
  <%= f.datetime_select :signup_end_at %>
</p>
<p>
  <%= f.label :start_at %>
  <%= f.datetime_select :start_at %>
</p>
<p>
  <%= f.label :end_at %>
  <%= f.datetime_select :end_at %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>