<div>
  <%=form_for @user do |f|%>
    <% if @user.errors.any? || (@game_participation && @game_participation.errors.any?) %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prevented you from saving:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @game_participation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end if @game_participation%>
        </ul>
      </div>
    <% end %>
    <p>
      <%=f.label :first_name%>
      <%=f.text_field :first_name%>
    </p>
    <p>
      <%=f.label :last_name%>
      <%=f.text_field :last_name%>
    </p>
    <p>
      <%=f.label :username%>
      <%=f.text_field :username%>
    </p>
    <p>
      <%=f.label :password%>
      <%=f.password_field :password%>
    </p>
    <p>
      <%=f.label :password_confirmation%>
      <%=f.password_field :password_confirmation%>
    </p>
    <p>
      <%=f.label :email_address%>
      <%=f.text_field :email_address%>
    </p>
    <p>
      <%=f.label :phone%>
      <%=f.text_field :phone%>
    </p>
    <% if @game_participation %>
    <%= fields_for @game_participation do |g| %>
      <p>
        <%= g.label :living_area_id%>
        <%= g.collection_select :living_area_id, @living_areas, :id, :name %>
      </p>
    <% end %>
    <% end %>
    <p>
      <%=submit_tag :submit%>
    </p>
   <%end%>
</div>