<div>
    <p>
      First Name:
      <%= @user.first_name %>
    </p>
    <p>
      Last Name:
      <%= @user.last_name %>
    </p>
    <p>
      Username:
      <%= @user.username %>
    </p>
    <p>
      Email Address:
      <%= @user.email_address %>
    </p>
    <p>
      Phone:
      <%= @user.phone %>
    </p>
    <% if @game_participation %>
    <p>
      Living Area:
      <%= @game_participation.living_area.name %>
    </p>
    <% end %>
</div>
<h2>Events!</h2>
<div id='events'>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
