<div>
    <p>
      First Name:
      <%= @user.first_name %>
    </p>
    <p>
      Last Name:
      <%= @user.last_name %>
    </p>
    <p>
      Username:
      <%= @user.username %>
    </p>
    <p>
      Email Address:
      <%= @user.email_address %>
    </p>
    <p>
      Phone:
      <%= @user.phone %>
    </p>
    <% if @game_participation %>
      <p>
        Living Area:
        <%= @game_participation.living_area.name %>
      </p>
      <p>
        User Number:
        <%= @game_participation.user_number %>
      </p>
      <% if @game_participation.creature %>
        <p>
          You Are A:
          <%= @game_participation.creature.name %> <%= @game_participation.creature_type %>
        </p>
        <% if @game_participation.zombie? && @game_participation.mortal? %>
          <p>
            Zombie Expires At:
            <%= @game_participation.zombie_expires_at %>
          </p>
        <% end %>
      <% end %>
    <% end %>
</div>
<h2>Events!</h2>
<div id='events'>
  <%= render :partial => 'layouts/event_reporter', :locals => {:profile => true}%>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
