<h1>Pseudo Bites</h1>
<% form_for :pseudo_bite, :url => admin_pseudo_bites_url, :method => 'post' do |f|%>
  <%= f.label :valid_after%>
  <%= f.datetime_select :valid_after%><br/ >
  <%= f.label :code, 'Code: leave blank to auto generate'%>
  <%= f.text_field :code %>
  <%= submit_tag 'Create Pseudo Bite'%>
<% end %>
<table>
  <tr>
    <th>
      Code
    </th>
    <th>
      Valid After
    </th>
    <th>
      Used
    </th>
    <th>
      Creation Date
    </th>
  </tr>
  <% for pseudo_bite in @pseudo_bites %>
    <tr>
      <td>
        <%= h(pseudo_bite.code) %>
      </td>
      <td>
        <%= h(pseudo_bite.valid_after)%>
      </td>
      <td>
        <%= h(pseudo_bite.used) %>
      </td>
      <td>
        <%= h(pseudo_bite.created_at)%>
      </td>
      <td>
        <%=link_to 'edit', edit_admin_pseudo_bite_url(pseudo_bite)%> | 
        <%= link_to 'destroy', admin_pseudo_bite_url(pseudo_bite), :method => 'delete'%>
      </td>
    </tr>
  <% end %>
</table>