<div class="types box">
  <div class="type">
    <table>
      <tr>
        <td>Human</td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: blue;"></div>
        </td>
      </tr>
      <tr>
        <td>Zombie</td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: red;"></div>
        </td>
      </tr>
      <tr>
        <td>Dead</td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: green;"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="types box">
  <div class="type">
    <h1>Human Types</h1>
    <table>
    <% for human in @humans %>
      <tr>
        <td>
          <%= h(human.name)%>
        </td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: #<%=h(human.color_string.to_s)%>"></div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="type">
    <h1>Zombie Types</h1>
    <table>
    <% for zombie in @zombies %>
      <tr>
        <td>
          <%= h(zombie.name)%>
        </td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: #<%=h(zombie.color_string.to_s)%>"></div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<% for living_area in @living_areas%>
<h1><%=h(living_area.name)%></h1>
  <table>
    <tr>
      <th>
        Username
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Status
      </th>
    </tr>
  <% for user in living_area.game_participations.map{|gp| gp.user} %>
    <% 
    main_color = nil
    if user.creature_type == 'Zombie'
      if user.is_expired
        main_color = 'green'
      else
        main_color = 'red';
      end
    elsif user.creature_type == 'Human'
      main_color = 'blue'
    end 
    creature_name = user.creature_name
    creature_name = 'Dead' if user.creature_name == 'Zombie' and user.is_expired
    %>
    <tr style="<%="color:" + h(main_color)%>">
      
      <td style="<%="color:\#" + h(user.creature.color_string) if user.creature%>">
        <%= h(user.username) %>
      </td>
      <td>
        <%= h(user.first_name) %>
      </td>
      <td>
        <%= h(user.last_name) %>
      </td>
      <td>
        <%= h(creature_name)%>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>