<div class="types box">
  <div class="type">
    <table>
      <tr>
        <td>Human</td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: blue;"></div>
        </td>
      </tr>
      <tr>
        <td>Zombie</td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: red;"></div>
        </td>
      </tr>
      <tr>
        <td>Dead</td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: green;"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="types box">
  <div class="type">
    <h1>Human Types</h1>
    <table>
    <% for human in @humans %>
      <tr>
        <td>
          <%= h(human.name)%>
        </td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: #<%=h(human.color_string.to_s)%>"></div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="type">
    <h1>Zombie Types</h1>
    <table>
    <% for zombie in @zombies %>
      <tr>
        <td>
          <%= h(zombie.name)%>
        </td>
        <td>
          <div style="border: 1px solid red;height: 5px; width: 40px; background-color: #<%=h(zombie.color_string.to_s)%>"></div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<% for living_area in @living_areas%>
<h1><%=h(living_area.name)%></h1>
  <table>
    <tr>
      <th>
        Username
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Status
      </th>
    </tr>
  <% for game_participation in living_area.game_participations %>
    <% 
    main_color = nil
    if game_participation.zombie?
      if game_participation.dead?
        main_color = 'green'
      else
        main_color = 'red';
      end
    elsif game_participation.chuman?
      main_color = 'blue'
    end 
    creature_name = game_participation.creature.name
    creature_name = 'Dead' if game_participation.dead?
    %>
    <tr style="<%="color:" + h(main_color)%>">
      
      <td style="<%="color:\#" + h(game_participation.creature.color_string) if game_participation.creature%>">
        <%= game_participation.user.username %>
      </td>
      <td>
        <%= game_participation.user.first_name %>
      </td>
      <td>
        <%= game_participation.user.last_name %>
      </td>
      <td>
        <%= game_participation.creature.name %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>