<h1>Listing squads from 
  <%= form_tag squads_url, :method => 'get', :style => 'display: inline;' do %>
    <%= select_tag "game_id", options_from_collection_for_select(@games, "id", "game_name", @game) %><br />
    <%= submit_tag 'Get Squads'%>
  <% end %>
</h1>

<table>
  <tr>
    <th></th>
    <th>Squad name</th>
    <th>Squad leader</th>
    <th></th>
  </tr>

<% @squads.each do |squad| %>
  <tr>
    <td><%= image_tag squad.avatar.url(:thumb), :size => "100x100" %></td>
    <td><%= squad.squad_name %></td>
    <td><%= squad.squad_leader.user.username %></td>
    <td><%= link_to 'Show', squad %></td>
  </tr>
<% end %>
</table>

