<%form_for @user, :url => admin_user_url(@user) do |f|%>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :living_area_id %>
    <%= f.collection_select :living_area_id, @living_areas, :id, :name %>
  </p>
  <p>
    <%= f.label :creature %>
    <%= f.collection_select :creature_type, ['', 'Human', 'Zombie'], :to_s, :to_s%>
    <%= observe_field :user_creature_type, :method => 'get', :url => get_creatures_admin_users_url() %>
  </p>
  <p>
    <%= f.label :creature_id, "creature class"%>
    <%= f.collection_select :creature_id, @creatures, :id, :name %>
  </p>
  <% if @user.creature_type == 'Zombie' and not @user.creature.immortal %>
  <p>
    Expiration Date
    <%
      expiration_date = @user.zombie_expiration_date.death_date if @user.zombie_expiration_date
      expiration_date = Time.now + 3.days unless expiration_date
      
    %>
    <%= select_datetime expiration_date%>
  </p>
  <% end %>
  <p>
    <%= submit_tag 'save'%>
  </p>
<% end %>