<table>
  <tr>
    <th><%=link_to 'first name', admin_users_url(:order => 'first_name', :descasc => @descasc)%></th>
    <th><%=link_to 'last name', admin_users_url(:order => 'last_name', :descasc => @descasc)%></th>
    <th><%=link_to 'username', admin_users_url(:order => 'username', :descasc => @descasc)%></th>
    <th><%=link_to 'email address', admin_users_url(:order => 'email_address', :descasc => @descasc)%></th>
    <th><%=link_to 'phone', admin_users_url(:order => 'phone', :descasc => @descasc)%></th>
    <th><%=link_to 'confirmed', admin_users_url(:order => 'confirmed', :descasc => @descasc)%></th>
    <th><%=link_to 'usernumber', admin_users_url(:order => 'user_number', :descasc => @descasc)%></th>
    <th><%=link_to 'living area', admin_users_url(:order => 'living_area.name', :descasc => @descasc)%></th>
    <th><%=link_to 'creature type', admin_users_url(:order => 'creature_type', :descasc => @descasc)%></th>
    <th><%=link_to 'admin', admin_users_url(:order => 'admin')%></th>
  </tr>
<% for user in @users %>
  <%
    living_area = user.current_participation.living_area rescue nil
    creature = user.current_participation.creature rescue nil
  %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.username %></td>
    <td><%= user.email_address %></td>
    <td><%= user.phone %></td>
    <td><%= user.confirmed %></td>
    <td><%= user.current_participation.user_number if user.current_participation %></td>
    <td><%= living_area.name if living_area %></td>
    <td><%= user.current_participation.creature_type if user.current_participation %><%= '/' + creature.name if creature%></td>
    <td><%= user.is_admin %></td>
    <td>
      <%= link_to 'edit', edit_admin_user_url(user)%> | 
      <%= link_to 'show', admin_user_url(user)%> |
      <%= link_to 'delete', admin_user_url(user), :method => 'delete', :confirm => 'are you sure? this is not reversible!'%>
  </tr>
<% end %>
</table>
<%= will_paginate @users %>
<%= link_to 'Create User', new_admin_user_url %>