<h2>Status</h2>
<% case @status %>
<% when :human %>
  <%= @user.username %> is a <%= @user.current_participation.creature.name %> human. His/her user number is <% @user.current_participation.user_number %>
<% when :mortal_zombie %>
  <%= @user.username %> is a <%= @user.current_participation.creature.name %> zombie. His/her user number is <% @user.current_participation.user_number %>. 
  if he/she does not eat, he/she will be dead at <%= @user.current_participation.zombie_expires_at %>.
<% when :immortal_zombie %>
  <%= @user.username %> is a <%= @user.current_participation.creature.name %> zombie.
<% when :dead %>
  <%= @user.username %> is dead.
<% else %>
  <%= @user.username %> has no creature type. This means the user is either an admin, has not been assigned a creature type, or there is no current game playing.
<% end %>

<h2>Events!</h2>
<div id='events'>
  <%= render :partial => 'layouts/event_reporter', :locals => {:profile => false}%>
</div>