Use the form below to login. You must have a confirmed email address to log in. If you have not received a confirmation email, use the 
form below to get your confirmation
<%= form_for :user_session, :url => { :action => "create" } do |f|%>
  <% if @user_session.errors.any? %>
    Invalid Login!<br/>
	<div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prevented you from saving:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :from, @from%>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= submit_tag :login %>
  </p>
<% end %><br/>
OR <br /><br />
Resend Confirmation Email.<br /><br />
<%= form_tag resend_confirmation_users_url, :method => 'post' do %>
Email Address <%= text_field_tag :email_address %><br />
<%= submit_tag :resend %>
<% end %>
