<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Humans Vs. Zombies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%=stylesheet_link_tag 'main', 'error'%>
  </head>
  <body>
    <div id="container">
      <div id="banner" class="box">
        <%=image_tag 'hvzsitebanner.jpg'%>
      </div>
      <div id="menu">
        <a href="/">home</a> |
        <%= link_to 'rules', 'http://massgames.org/blog/tag/rules/'%> |
        <%= link_to 'game status',  games_url%> |
        <% if @current_user #logged in %>
          <% if @playable %>
            <% if @current_user.current_participation && @current_user.current_participation.creature_type == 'Human' #human urls %>
              <%= link_to 'self bite', self_bites_url%> |
              <%= link_to 'report being bitten', receive_new_bite_url %>
            <% elsif @current_user.current_participation && @current_user.current_participation.creature_type == 'Zombie' #zombie urls %>
              <% unless @current_user.current_participation.is_expired %>
                <%= link_to 'report bite', give_new_bite_url %> |
                <% if @current_user.current_participation.creature.vaccinatable%>
                  <%= link_to 'vaccinate', vaccines_url%> |
                <% end %>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
          <% if @current_user.is_admin %>
            <%= link_to 'admin', admin_url %> |
          <% end %>
          <%= link_to 'status', user_url(@current_user)%> |
          <%= link_to 'profile', profile_url%> |
          <%= link_to 'logout', logout_url %>
        <% else #all non logged in users %>
          <%= link_to 'login', login_url%> | 
          <%= link_to 'register', register_url %>
        <% end %>
      </div>
      <div id="main" class="box">
        <%= yield %>
      </div>
      <div id="footer">&copy; 2009 <a href="http://massgames.org/">Mass Games</a></div>
    </div>
  </body>
</html>